@model DeWee.Models.BeneficiaryModel
@using DeWee.Manager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Solar Enterprised List";
}

<div class="page-bread page-titles">
    <div class="bread-flex">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("SolarEnterprisedList", "Reports", FormMethod.Post, new { @id = "formid", @class = "", role = "form", autocomplete = "off", enctype = "multipart/form-data" }))
        {
            <div class="card">
                <div class="form-row">
                    <div class="form-group col-sm-3">
                        <label for="District" class="col-form-label">District</label>
                        @Html.DropDownListFor(model => model.DistrictId, new List<SelectListItem>(), "--Select District--", new { @class = "form-control select2", @required = "required" })
                    </div>

                    <div class="form-group col-sm-3">
                        <label for="Block" class="col-form-label">Block</label>
                        @Html.DropDownListFor(model => model.BlockId, new List<SelectListItem>(), "--All Blocks--", new { @class = "form-control select2", @required = "required" })
                    </div>

                    <div class="form-group col-sm-3 mt-4">
                        <input type="submit" name="btnsubmit" id="btnsubmit" class="btn btn-primary" value="Filter" />
                        &nbsp; &nbsp;<strong id="div-download"></strong>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-lg-12">
        <div class="card">
            <ul class="nav nav-tabs" id="solarTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="collective-tab" data-toggle="tab" href="#collective" role="tab">Collective Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="individual-tab" data-toggle="tab" href="#individual" role="tab">Individual Data</a>
                </li>
            </ul>
            <div class="tab-content p-2" id="solarTabsContent">
                <div class="tab-pane fade show active" id="collective" role="tabpanel">
                    <div id="collectiveTableContainer">Loading...</div>
                </div>
                <div class="tab-pane fade" id="individual" role="tabpanel">
                    <div id="individualTableContainer">Loading...</div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div id="partialViewContainer">

                <!-- The participant table will be injected here -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>

    <script>
        $(document).ready(function () {

            BindDistrictList("DistrictId", "", 0, 0);
            $('.select2').select2();

            $('#DistrictId').change(function () {
                BindBlockList("BlockId", "", 1, 0, $('#DistrictId').val());
            });

            LoadData(); // Load initially

            $('#formid').on("submit", function (e) {
                e.preventDefault();
                LoadData();
            });

        });
        function LoadData() {
    $('#collectiveTableContainer').html('Loading...');
    $('#individualTableContainer').html('Loading...');
    $('#div-download').empty();

    var did = $('#DistrictId').val() == "" ? "0" : $('#DistrictId').val();
    var bid = $('#BlockId').val() == "" ? "0" : $('#BlockId').val();

    $.ajax({
        type: "GET",
        url: document.baseURI + "/Reports/GetSolarEnterprisedList/",
        data: { DId: did, BId: bid },
        success: function (resp) {
            if (resp.IsSuccess) {
                $('#collectiveTableContainer').html(resp.Collective);
                $('#individualTableContainer').html(resp.Individual);

                // Initialize both DataTables
                @*DataTableSet("tbl", "Collective Data List", "Collective_" + '@DateTime.Now.ToDateTimeDDMMYYYY()', "div-download");
                DataTableSet("tbl", "Individual Data List", "Individual_" + '@DateTime.Now.ToDateTimeDDMMYYYY()', "div-download");*@

            } else {
                $('#collectiveTableContainer').html('<h4 class="text-danger">Record Not Found!</h4>');
                $('#individualTableContainer').html('<h4 class="text-danger">Record Not Found!</h4>');
                toastr.error("Error", resp.Data);
            }
        },
        error: function (req, error) {
            var errormsg = 'There was a communication error: ' + (error === 'error' ? req.statusText : error);
            toastr.error("Error", errormsg);
        }
    });
}

        @*function LoadData() {
            $('#participantTableContainer').empty();
            $('#div-download').empty();

            var did = $('#DistrictId').val() == "" ? "0" : $('#DistrictId').val();
            var bid = $('#BlockId').val() == "" ? "0" : $('#BlockId').val();

            $.ajax({
                type: "GET",
                url: document.baseURI + "/Reports/GetSolarEnterprisedList/",
                data: { DId: did, BId: bid },
                success: function (resp) {
                    if (resp.IsSuccess) {
                        $('#participantTableContainer').html(resp.Data);
                        DataTableSet("tbl", "Beneficiary Details List", "Beneficiary List " + '@DateTime.Now.ToDateTimeDDMMYYYY()', "div-download");
                    } else {
                        $('#participantTableContainer').html('<h4 class="text-danger">Record Not Found!!<h4>');
                        toastr.error("Error", resp.Data);
                    }
                },
                error: function (req, error) {
                    var errormsg = 'There was a communication error: ' + (error === 'error' ? req.statusText : error);
                    toastr.error("Error", errormsg);
                }
            });
        }*@
    </script>
}
