<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dewee</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/dashboard/images/favicon.png">
    <!-- Pignose Calender -->
    <link href="~/Content/dashboard/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/Content/dashboard/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/Content/dashboard/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="~/Content/dashboard/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel='stylesheet' type='text/css' />
    <base href="@DeWee.Manager.CommonModel.GetBaseUrl()" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.dataTables.css" rel="stylesheet" />
    <style>
        .scroll-up-icon, .scroll-down-icon {
            position: fixed;
            right: 5px;            
            width: 36px;
            z-index: 10;
            cursor: pointer
        }
        .scroll-up-icon {
            bottom: 12%;
        }
        .scroll-down-icon {
            bottom: 5%;
        }
    </style>

</head>
<body>
    <img src="~/Content/dashboard/images/scroll-up.png" alt="move up" class="scroll-up-icon" onClick="scrollSmoothToTop()"/>
    <img src="~/Content/dashboard/images/scroll-down.png" alt="move down" class="scroll-down-icon" onClick="scrollSmoothToBottom()" />
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <div id="main-wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")
        <div class="content-body">
            <div class="container-fluid mt-3">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Content/dashboard/plugins/common/common.min.js"></script>
    @RenderSection("scripts", required: false)



    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script src="~/Content/dashboard/js/custom.min.js"></script>
    <script src="~/Content/dashboard/js/settings.js"></script>
    <script src="~/Content/dashboard/js/gleek.js"></script>
    <script src="~/Content/dashboard/js/styleSwitcher.js"></script>
    @*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <!-- Chartjs -->
    @*<script src="~/Content/dashboard/plugins/chart.js/Chart.bundle.min.js"></script>*@
    <!-- Circle progress -->
    <script src="~/Content/dashboard/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    @*<script src="~/Content/dashboard/plugins/d3v3/index.js"></script>*@
    <script src="~/Content/dashboard/plugins/topojson/topojson.min.js"></script>
    <script src="~/Content/dashboard/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="~/Content/dashboard/plugins/raphael/raphael.min.js"></script>
    <script src="~/Content/dashboard/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="~/Content/dashboard/plugins/moment/moment.min.js"></script>
    <script src="~/Content/dashboard/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="~/Content/dashboard/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/Content/dashboard/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>

    @*<script src="~/Content/dashboard/js/dashboard/dashboard-1.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

    <script src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.3/js/responsive.dataTables.js"></script>
    <script>
        const scrollingElement = (document.scrollingElement || document.body);

        const scrollSmoothToBottom = () => {
            $(scrollingElement).animate({
                scrollTop: document.body.scrollHeight,
            }, 500);
        }

        const scrollSmoothToTop = () => {
            $(scrollingElement).animate({
                scrollTop: 0,
            }, 500);
        }
    </script>
</body>
</html>
