@model DeWee.Models.FilterModel
@using DeWee.Manager
@{
    ViewBag.Title = "Home Page";
}
<style>
    .de-map-box {
        padding: 5px;
        background-image: url("../Content/dashboard/images/damapbg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .filter-section {
        border: 2px solid #2d396d;
        background-color: #2BBFCE;
    }

    .form-box-section {
        padding: 15px;
        background-color: #fff;
        padding-bottom: 10px;
    }

        .form-box-section .form-group {
            margin-bottom: 10px;
        }

        .form-box-section .form-control {
            box-shadow: none;
            margin-top: 0px;
            height: 32px;
            background: #2BBFCE;
            min-height: 32px !important;
            box-shadow: 1px 2px 2px 0px #2BBFCE;
            border-color: #2BBFCE !important;
            border-radius: 4px;
        }

        .form-box-section .col-form-label {
            padding-top: calc(0.375rem + 1px);
            padding-bottom: calc(0.375rem + 1px);
            margin-bottom: 0;
            font-size: 13px;
            line-height: 1.5;
            color: #000;
            font-weight: 500;
        }

    .beneficiary-box-section {
        background-color: #2BBFCE;
    }

        .beneficiary-box-section ul li {
            list-style: none;
            font-size: 13px;
            line-height: 1.5;
            color: #fff;
            font-weight: 500;
            padding-left: 20px;
            margin-bottom: 1px;
        }

            .beneficiary-box-section ul li:nth-child(10) {
                border-bottom: 2px dotted #000;
                margin-top: 5px;
                margin-bottom: 5px;
            }

    .map-box-img {
        padding: 5px;
        background-color: #f4ed72;
    }

        .map-box-img .mapImg {
            width: 100%;
            height: 100%;
            border: 2px solid #2d396d;
        }

    .map-details-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 6px 0px 0px 0px;
    }

        .map-details-list li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
        }

            .map-details-list li .txt p {
                font-size: 12px;
                color: #000;
                margin: 0px;
                font-weight: 500;
            }

    .overlay-map {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0 0.5rem 1rem 7px rgba(0, 0, 0, 0.15) !important;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
    }

        .overlay-content ul.list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 20px;
        }

            .overlay-content ul.list li {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }

                .overlay-content ul.list li .value-box {
                    text-align: center;
                    font-size: 10px;
                    font-weight: 600;
                }

    .map-card {
        box-shadow: -8px 20px 25px 0 rgb(25 42 70 / 30%);
        background: #fff;
        padding: 0px;
        border-radius: 0px;
        margin-bottom: 10px;
    }

    .divbfy strong {
        color: #555555 !important;
    }

    .divthr strong {
        color: #555555 !important;
    }

    .content-body {
        min-height: auto !important;
    }

    /*-----------------by Harshit--------------*/
    /*.value-box-card {
        display: flex;
        justify-content: space-between;*/
        /*align-items: center;*/
        /*gap: 15px;
        padding: 10px;
        height: 100px;
    }*/

    /*.card {
        width: 100%; 
        height: 150px;
        display: flex;
        align-items: center; 
        justify-content: space-between; 
    }*/

    .value-box-card .txt {
        font-size: 12px !important;
        font-weight: 500;
        /*text-align: center;*/ /* Center text */
    }
        body {
            margin: 0;
            padding: 0;
        }

    .page-border {
        border: 10px solid transparent; /* Adjust thickness as needed */
        border-image: linear-gradient(45deg, #ff0000, #0000ff) 1; /* Gradient colors */
        padding: 20px; /* Space between border and content */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Shadow for depth */
        height: 100vh; /* Full height */
        width: 100vw; /* Full width */
        position: relative; /* Positioning context for pseudo-elements */
    }

        .page-border::before,
        .page-border::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 10px solid transparent; /* Match border thickness */
            border-image: linear-gradient(45deg, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)) 1; /* Semi-transparent gradient */
            z-index: -1; /* Place behind the content */
            filter: blur(5px); /* Blur for a softer effect */
        }

    /*.value-box-card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }

        .value-box-card .txt {
            font-size: 11px;
            font-weight: 600;
        }*/
</style>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box-data">
            <div class="value-box-card">
                <div class="stats">
                    <div style="font-weight: bold; font-size: 30px; color: #2BBFCE;" id="TotalParticipant"></div>
                    <div class="txt" style="font-size: 14px; color: #000;">Enterprises Onboarded</div>
                </div>
                <div class="boxes-1">
                    <img src="~/Content/dashboard/images/icons/Enterprises-Onboarded.png" alt="Enterprises Onboarded" class="point-icons" />
                </div>
            </div>
            <div class="value-box-card handed" onclick="redirectToSolarizedList()">
                <div class="stats">
                    <div style="font-weight: bold; font-size: 30px; color: #AD4481;" id="TotalSolarized"></div>
                    <div class="txt" style="font-size: 14px; color: #000;">Enterprises <br />Solarized</div>
                </div>
                <div class="boxes-2">
                    <img src="~/Content/dashboard/images/icons/Enterprises-Solarized.png" alt="Enterprises Onboarded" class="point-icons" />
                </div>
            </div>
            <div class="value-box-card">
                <div class="stats">
                    <div style="font-weight: bold; font-size: 30px; color: #61CD5F;" id="TotalGHGEmissionsMitigated">0</div>
                    <div class="txt" style="font-size: 14px; color: #000;">GHG Emissions Mitigated(MtCO2e)</div>
                </div>
                <div class="boxes-3">
                    <img src="~/Content/dashboard/images/icons/co2-emission.png" alt="Enterprises Onboarded" class="point-icons" />
                </div>
            </div>
            <div class="value-box-card">
                <div class="stats">
                    <div style="font-weight: bold; font-size: 30px; color: #2BBFCE;" id="TotalInstalledCapacity_kW"></div>
                    <div class="txt" style="font-size: 14px; color: #000;">Capacity of Installation (kW)</div>
                </div>
                <div class="boxes-4">
                    <img src="~/Content/dashboard/images/icons/Capacity-of-Installation.png" alt="Enterprises Onboarded" class="point-icons" />
                </div>
            </div>
            <div class="value-box-card">
                <div class="stats">
                    <div style="font-weight: bold; font-size: 30px; color: #AD4481;" id="TotalWomenEmployed"></div>
                    <div class="txt" style="font-size: 14px; color: #000;">Women Entrepreneurs Reached</div>
                </div>
                <div class="boxes-5">
                    <img src="~/Content/dashboard/images/icons/Women-Entrepreneurs.png" alt="Enterprises Onboarded" class="point-icons" />
                </div>
            </div>
        </div>
        @*<div class="row form-row">
            <div class="col-xs-12 col-md-2">
                <div class="card mb-2">
                    <div class="value-box-card">
                        <div>
                            <div style="font-weight: bold; font-size: 30px; color: #000;" id="TotalParticipant"></div>
                            <div class="txt" style="font-size: 14px; color: #000;">Enterprises Onboarded</div>
                        </div>
                        <div class="box-1">
                            <img src="~/Content/dashboard/images/icons/Enterprises-Onboarded.png" alt="Enterprises Onboarded" class="point-icons" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
                <div class="card mb-2">
                    <div class="value-box-card" onclick="redirectToSolarizedList()">
                        <div>
                            <div style="font-weight: bold; font-size: 30px; color: #000;" id="TotalSolarized"></div>
                            <div class="txt" style="font-size: 14px; color: #000;">Enterprises Solarized</div>
                        </div>
                        <div class="box-1">
                            <img src="~/Content/dashboard/images/icons/Enterprises-Onboarded.png" alt="Enterprises Onboarded" class="point-icons" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
                <div class="card mb-2">
                    <div class="value-box-card">
                        <div>
                            <div style="font-weight: bold; font-size: 30px; color: #000;" id="TotalGHGEmissionsMitigated">0</div>
                            <div class="txt" style="font-size: 14px; color: #000;">GHG Emissions Mitigated(MtCO2e)</div>
                        </div>
                        <div class="box-1">
                            <img src="~/Content/dashboard/images/icons/Enterprises-Onboarded.png" alt="Enterprises Onboarded" class="point-icons" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
                <div class="card mb-2">
                    <div class="value-box-card">
                        <div>
                            <div style="font-weight: bold; font-size: 30px; color: #000;" id="TotalInstalledCapacity_kW"></div>
                            <div class="txt" style="font-size: 14px; color: #000;">Capacity of Installation (kW)</div>
                        </div>
                        <div class="box-1">
                            <img src="~/Content/dashboard/images/icons/Enterprises-Onboarded.png" alt="Enterprises Onboarded" class="point-icons" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
                <div class="card mb-2">
                    <div class="value-box-card">
                        <div>
                            <div style="font-weight: bold; font-size: 30px; color: #000;" id="TotalWomenEmployed"></div>
                            <div class="txt" style="font-size: 14px; color: #000;">Women Entrepreneurs Reached</div>
                        </div>
                        <div class="box-1">
                            <img src="~/Content/dashboard/images/icons/Enterprises-Onboarded.png" alt="Enterprises Onboarded" class="point-icons" />
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="card map-card">
            <div class="de-map-box">
                <div id="myNav" class="overlay-map">
                    <a href="javascript:void(0)" class="closebtn" id="closeNav" style="font-size: 36px;line-height: 24px;">&times;</a>
                    <div class="overlay-content">
                        @*<ul class="list">
                                <li>
                                    <div class="value-box">
                                        <span>Enterprises Onboarded</span>
                                        <img src="~/Content/dashboard/images/handshake.png" class="img-fluid" style="width: 75px !important;">
                                        <div id="TotalParticipant"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="value-box">
                                        <span>Enterprises Solarized</span>
                                        <img src="~/Content/dashboard/images/solareng.png" class="img-fluid" style="width: 75px !important;">
                                        <div id="TotalSolarized"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="value-box">
                                        <span>GHG Emissions Mitigated</span>
                                        <img src="~/Content/dashboard/images/battery.png" class="img-fluid" style="width: 75px !important;">
                                        <div id="">0</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="value-box">
                                        <span>Capacity of Installation (kW)</span>
                                        <img src="~/Content/dashboard/images/sgssky.png" class="img-fluid" style="width: 75px !important;">
                                        <div id="">0</div>
                                    </div>
                                </li>
                            </ul>*@
                    </div>
                </div>

                <div class="filter-section">
                    <div class="row no-gutters">
                        <div class="col-xs-12 col-md-6" style="display:none">
                            <div class="form-box-section">
                                @using (Html.BeginForm("GetIndex", "Home", FormMethod.Post, new { @id = "formid", @class = "", role = "form", autocomplete = "off", enctype = "multipart/form-data" }))
                                {
                                    <div class="row">

                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group row" style="display:none;">
                                                <label for="State" class="col-sm-5 col-form-label">State</label>
                                                <div class="col-sm-7">
                                                    @Html.DropDownListFor(model => model.CountryId, new List<SelectListItem>(), null, new { @class = "form-control", @required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="District" class="col-sm-5 col-form-label">State</label>
                                                <div class="col-sm-7">
                                                    @Html.DropDownListFor(model => model.StateId, new List<SelectListItem>(), null, new { @class = "form-control", @required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="District" class="col-sm-5 col-form-label">District</label>
                                                <div class="col-sm-7">
                                                    @Html.DropDownListFor(model => model.DistrictId, new List<SelectListItem>(), null, new { @class = "form-control", @required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Block" class="col-sm-5 col-form-label">Block</label>
                                                <div class="col-sm-7">
                                                    @Html.DropDownListFor(model => model.BlockId, new List<SelectListItem>(), "All", new { @class = "form-control select2", @required = "required" })
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group row">
                                                <label for="Type of enterprise" class="col-sm-5 col-form-label">Type of enterprise</label>
                                                <div class="col-sm-7">
                                                    @Html.DropDownListFor(model => model.TypeofEnterpriseBusinId, CommonModel.GetALLBE(1), null, new { @class = "form-control select2", @required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Type of Indicator" class="col-sm-5 col-form-label">Type of Indicator</label>
                                                <div class="col-sm-7">
                                                    @Html.DropDownListFor(model => model.TypeofIndicator, CommonModel.GetIndicator(1), null, new { @class = "form-control select2", @required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group row" style="display:none">
                                                <label for="DPE Installation Capacity" class="col-sm-5 col-form-label">DPE Installation Capacity</label>
                                                <div class="col-sm-7">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                    @*@Html.DropDownListFor(model => model.TypeofIndicator, CommonModel.GetIndicator(1), null, new { @class = "form-control", @required = "required" })*@
                                                </div>
                                            </div>
                                            <div class="form-group row" style="display:none">
                                                <label for="Change in Income" class="col-sm-5 col-form-label">Change in Income</label>
                                                <div class="col-sm-7">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                            <div class="beneficiary-box-section">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <h6 style="font-size: 16px; font-weight: 600; padding-top: 10px; padding-left: 20px;">Beneficiary details</h6>
                                        <ul style="height: 300px; overflow: hidden;">
                                            <li class="divbfy">State: <strong id="StateName"></strong></li>
                                            <li class="divbfy">District: <strong id="DistrictName"></strong></li>
                                            <li class="divbfy">Block: <strong id="BlockName"></strong></li>
                                            <li class="divbfy">GP:<strong id="GPName"></strong></li>
                                            <li class="divbfy">VO: <strong id="VO"></strong></li>
                                            <li class="divbfy">Type of enterprise: <strong id="TypeofEnterpriseBusinText"></strong></li>
                                            <li class="divbfy">Name of owner: <strong id="NameofEnterpriseOwner"></strong></li>
                                            <li class="divbfy">SHG name: <strong id="NameofSHG"></strong></li>
                                            <li class="divbfy">Space available: <strong id="SpaceAvailableText"></strong></li>
                                            <li class="divbfy">Space available area: <strong id="SpaceAvailable_Area"></strong></li>

                                            <li class="divthr">Take-Home Ration Nutri Enterprise: <strong id="THR_NutriEnterprise"></strong></li>
                                            <li class="divthr">Type of Roof: <strong id="TypeofRoof"></strong></li>
                                            <li class="divthr">Total Roof and shed area available (sq feet): <strong id="TRoofandshedareaavailable_sqfeet"></strong></li>
                                            <li class="divthr">Shadow free Area available for Solarization(sq feet): <strong id="AreaAvailableSolarization_sqfeet"></strong></li>
                                            <li class="divthr">Contact Person: <strong id="PersonName" class="text-bg-primary"></strong></li>
                                            <li class="divthr">Contact Number: <strong id="PhoneNumber" class="text-bg-primary"></strong></li>
                                            <li></li>
                                            <li class="readmore1">Enterprises Onboarded: <strong id="EnterprisesOnboarded" class="text-bg-primary"></strong></li>
                                            <li class="readmore1">Enterprises Solarized: <strong id="EnterprisesSolarized" class="text-bg-primary"></strong></li>
                                            <li class="readmore1">Capacity of Installation (kW): <strong id="CapacityOfInstallation" class="text-bg-primary"></strong></li>

                                            @*<li class="readmore">Enterprise Image : <img src="" id="EnterpriseImg" name="EnterpriseImg" height="200" /> </li>*@
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="img-child-box" style="align-items: end;">
                                            <h6 class="" id="div-img" style="font-size: medium; font-weight: 700; color: #bf4242 !important; "></h6>
                                            @*<img src="~/Content/dashboard/images/childImg.jpg" id="EnterpriseImg" class="img-fluid mapImg">*@
                                            <img src="#" id="EnterpriseImg" class="img-fluid mapImg " style="display:none;">
                                        </div>
                                        <div style="margin-top:10px;text-align:left; display:none;">
                                            <a id="RDMore" href="javascript:void(0);" style="color:#Ad4481;">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="map-box-img" id="openNav">
                                <div>
                                    <a href="javascript:void(0);" id="dvMapToggle" class="btn btn-primary" style="position:absolute; top:24px; left:190px;z-index:9;display:none;">Summary</a>
                                    <div id="dvMap" style="width: 100%; height: 370px;" border:3px solid #0094ff" class="border-bottom-primary"></div>
                                    @*<img src="img/mapIcon.jpg" class="img-fluid mapImg">*@
                                </div>
                                <ul class="map-details-list">
                                    <li>
                                        <i class="menu-icon">
                                            <img src="../Content/dashboard/images/MarkerGreenSingle.png" style="width:30px;" />
                                        </i>
                                        <div class="txt">
                                            <p>Solar Powered Individual Enterprises</p>
                                        </div>
                                    <li>
                                    <li>
                                        @*<img src="~/Content/dashboard/images/MarkerRedSingle.png" alt="Alternate Text" />*@
                                        <i class=" menu-icon ">
                                            <img src="../Content/dashboard/images/MarkerRedSingle.png" style="width:30px;" />
                                        </i>
                                        <div class="txt">
                                            <p>Non-Solar Powered Individual Enterprises</p>
                                        </div>
                                    <li>
                                    <li>
                                        <i class="menu-icon">
                                            <img src="../Content/dashboard/images/RoundedG.png" style="width:30px;" />
                                        </i>
                                        <div class="txt">
                                            <p>Solar Powered Collective Enterprises</p>
                                        </div>
                                    <li>
                                    <li>
                                        <i class="menu-icon">
                                            <img src="../Content/dashboard/images/RoundedR.png" style="width:30px;" />
                                        </i>
                                        <!--icon-map-->
                                        <div class="txt">
                                            <p>Non-Solar Powered Collective Enterprises</p>
                                        </div>
                                    <li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw2rgDsJqTKA8ern_oI6heqv-xgSLuu1U"></script>*@

    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/maps/modules/map.js"></script>

    @*<script src="~/Scripts/Map/india_st.js"></script>*@
    <script src="~/Scripts/JS/UPMap.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw2rgDsJqTKA8ern_oI6heqv-xgSLuu1U" async></script>
    <script src="~/Scripts/JS/Master.js"></script>
    @*<script src="https://unpkg.com/googlemaps/markerclusterer/dist/index.min.js"></script>*@
    @*<script src="~/Scripts/JS/index.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer.js"></script>
    <script src="https://cdn.rawgit.com/jawj/OverlappingMarkerSpiderfier/gh-pages/oms.min.js"></script>

    <script>
        var dislist = [], MonthParts = [], AllDataBFY = [], BFYFilterDis, tblTHR = [];
        $(document).ready(function () {
           // $('.select2').select2();
            BindStateList("StateId", "", 0);
            $('#StateId').prop('selectedIndex', 1);
            BindDistrictList("DistrictId", "", 1, $('#StateId').val());
            Load_Databox();//chartpart
            $('#StateId').change(function () {
                BindDistrictList("DistrictId", "", 1, $('#StateId').val());
               // document.getElementById('DistrictId').selectedIndex = 0;
                $('#DistrictId').val('0').trigger('change');
                Load_Databox();
            });
            $('#DistrictId').change(function () {
                BindBlockList("BlockId", "", 1, $('#StateId').val(), $('#DistrictId').val());
                $('#BlockId').val('0').trigger('change');
                Load_Databox();
            });
            $('#BlockId').change(function () {
                Load_Databox();
            });
            $('#TypeofEnterpriseBusinId').change(function () {
                Load_Databox();
            });
            $('#TypeofIndicator').change(function () {
                Load_Databox();
            });

         //new MarkerClusterer(map, allMarkers, {
         //       imagePath: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m",
         //       minimumClusterSize: 0,
         //       styles: [{
         //           url: "path/to/cluster-icon-1.png",
         //           height: 50,
         //           width: 50,
         //           textColor: "#FFFFFF",
         //           textSize: 12
         //    }]

         //   });

        });
        function redirectToSolarizedList() {
        window.location.href = '@Url.Action("SolarEnterprisedList", "Reports")';
    }
        function Load_Databox() {
            var SId = $('#StateId').val() == '' || $('#StateId').val() == null ? 0 : $('#StateId').val();
            var DId = $('#DistrictId').val() == '' || $('#DistrictId').val() == null ? 0 : $('#DistrictId').val();
            var BId = $('#BlockId').val() == '' || $('#BlockId').val() == null ? 0 : $('#BlockId').val();
            var TypeofEnterpriseBusinId = $('#TypeofEnterpriseBusinId').val() == '' || $('#TypeofEnterpriseBusinId').val() == null ? 0 : $('#TypeofEnterpriseBusinId').val();
            var TypeofIndicator = $('#TypeofIndicator').val() == '' || $('#TypeofIndicator').val() == null ? 0 : $('#TypeofIndicator').val();
             $.ajax({
                 url: document.baseURI + "/Home/GetDashboadLegend/",
                 type: 'GET',
                 dataType: 'json',
                 data: {
                     CId: '1', SId: SId, DId: DId, BId: BId,
                     TypeOfEnterpriseId: TypeofEnterpriseBusinId, TypeofIndicator: TypeofIndicator
                 },
                 success: function (resp) {
                     var resD = JSON.parse(resp.Data);
                     $('#TotalParticipant').text(resD.Table[0].TotalParticipant);
                     $('#TotalSolarized').text(resD.Table[0].TotalSolarized);
                     $('#TotalInstalledCapacity_kW').text(resD.Table[0].TotalInstalledCapacity_kW);
                     $('#TotalGHGEmissionsMitigated').text(resD.Table[0].TotalGHGEmissionsMitigated);
                     $('#TotalWomenEmployed').text(resD.Table[0].TotalWomenEmployed);
                     dislist = resD.Table1;
                     //MonthParts = resD.Table2;
                     AllDataBFY = resD.Table2;
                     tblTHR = resD.Table3;
                    // if (dislist != null && dislist != undefined)
                        // Load_DistrictMap(dislist);
                    // else
                    // toastr.error("Error", '@(DeWee.Manager.Enums.eReturnReg.RecordNotFound)' + error);
                     if ((AllDataBFY != null && AllDataBFY != undefined) || (tblTHR != null && tblTHR != undefined))
                         LoadGoogleMap(AllDataBFY, tblTHR);
                     else
                     toastr.error("Error", '@(DeWee.Manager.Enums.eReturnReg.RecordNotFound)');
                 },
                 error: function (xhr, status, error) {
                     toastr.error("Error", '@(DeWee.Manager.Enums.eReturnReg.ExceptionError)' + error);
                 }
             });
        }
        function ChartPart(DList) {
            var jsonObj = JSON.parse(DList[0].PartJsonData);
            seriesData = [];
            seriesObj = {};
            for (var i = 0; i < jsonObj.length; i++) {
                //seriesData.push({ name: jsonObj[i].MonthYear, y: jsonObj[i].Total });
                seriesObj = { name: jsonObj[i].MonthYear, y: jsonObj[i].Total };
                seriesData.push(seriesObj);
            }
            Highcharts.chart('chartpart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Monthly Enterprises Onboarded'
                },
                //subtitle: {
                //    text: 'Source: <a href="https://worldpopulationreview.com/world-cities" target="_blank">World Population Review</a>'
                //},
                xAxis: {
                    type: 'category',
                    labels: {
                        autoRotation: [-45, -90],
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'No.of Enterprises Onboarded: <b>{point.y}</b>'
                },
                series: [{
                    name: 'Enterprises Onboarded',
                    colors: [
                        '#9b20d9', '#9215ac', '#861ec9', '#7a17e6', '#7010f9', '#691af3',
                        '#6225ed', '#5b30e7', '#533be1', '#4c46db', '#4551d5', '#3e5ccf',
                        '#3667c9', '#2f72c3', '#277dbd', '#1f88b7', '#1693b1', '#0a9eaa',
                        '#03c69b', '#00f194'
                    ],
                    colorByPoint: true,
                    groupPadding: 0,
                    data: seriesData,
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        inside: true,
                        verticalAlign: 'top',
                        format: '{point.y}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]
            });
            //Highcharts.chart('chartpart', {
            //    chart: {
            //        type: 'spline'
            //    },
            //    title: {
            //        text: 'Monthly Enterprises Onboarded'
            //    },
            //    xAxis: {
            //    //    //categories: [
            //    //    //    'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
            //    //    //    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
            //    //    //],
            //        //accessibility: {
            //        //    description: 'Months of the year'
            //        //}
            //    },
            //    yAxis: {
            //        title: {
            //            text: ''
            //        },
            //        //labels: {
            //        //    format: '{value}°'
            //        //}
            //    },
            //    tooltip: {
            //        crosshairs: true,
            //        shared: true
            //    },
            //    plotOptions: {
            //        spline: {
            //            marker: {
            //                radius: 4,
            //                lineColor: '#666666',
            //                lineWidth: 1
            //            }
            //        }
            //    },
            //    series: [{
            //        name: 'Enterprises Onboarded',
            //        marker: {
            //            symbol: 'square'
            //        },
            //        data: seriesData
            //    }]
            //});
        }
        function Load_DistrictMap(dislist) {
            if (dislist != null && dislist != undefined) {
                var jsonObject = JSON.parse(dislist[0].LocationJsonData);
                console.log(jsonObject);
                var reportMapDivWidth = $("#containermap").width();
                var MapHeight = reportMapDivWidth > 620 ? 620 : null;
                colors = ['#4443a0', '#ae77b8', '#9be0ba', '#4194ac', '#44449e', '#47a372', '#3466ab', '#8a3b99'];
                for (var i = 0; i < jsonObject.length; i++) {
                    if (jsonObject[i].Total > 0) {
                        jsonObject[i].color = "#13e5138f";
                    }
                    else {
                        jsonObject[i].color = "#11cdef";
                        //jsonObject[i].Total = 6;
                        //jsonObject[i].Percentage = 6;
                    }

                    jsonObject[i].showInLegend = true;
                }

                //var jsonObjectMumbai = jsonObject.find(x => x.DistrictName == "Mumbai");

                //var obj = JSON.parse(JSON.stringify(jsonObjectMumbai));
                //obj.DistrictName = "Thane";
                //jsonObject.push(obj);

                //obj = JSON.parse(JSON.stringify(jsonObjectMumbai));
                //obj.DistrictName = "Raigarh";
                //jsonObject.push(obj);

                //obj = JSON.parse(JSON.stringify(jsonObjectMumbai));
                //obj.DistrictName = "Palghar";
                //jsonObject.push(obj);

                //obj = JSON.parse(JSON.stringify(jsonObjectMumbai));
                //obj.DistrictName = "Mumbai Suburban";
                //jsonObject.push(obj);

                //obj = JSON.parse(JSON.stringify(jsonObjectMumbai));
                //obj.DistrictName = "Mumbai City";
                //jsonObject.push(obj);

                Highcharts.mapChart('containermap', {

                    chart: {
                        borderWidth: 1,
                        borderColor: '#00000',
                        height: MapHeight,
                        //  map: topology
                    },
                    title: {
                        text: 'Intervention Areas (District Wise-UP)'
                    },
                    credits: {
                        enabled: false
                    },
                    //legend: {
                    //    layout: 'vertical',
                    //    align: 'right',
                    //    verticalAlign: 'middle',
                    //    itemMarginBottom: 10,
                    //    symbolHeight: 18,
                    //    title: {
                    //        text: 'Districts'
                    //    }
                    //},
                    mapNavigation: {
                        enabled: true,
                        buttonOptions: {
                            verticalAlign: 'bottom'
                        }
                    },
                    plotOptions: {
                        series: {
                            cursor: 'pointer',
                            point: {
                                events: {
                                    // Handle click events on map regions
                                    click: function (event) {
                                        const point = this; // The clicked point
                                        const DistrictName = point.DistrictName; // Name of the region
                                        const TotalVal = point.Total; // Value associated with the region
                                        BFYFilterDis = AllDataBFY.filter(x => x.DistrictName.toLowerCase() == DistrictName.toLowerCase());
                                        LoadGoogleMap(BFYFilterDis);
                                        // Deselect all other points
                                        this.series.points.forEach(p => {
                                            if (p !== point && p.selected) {
                                                p.select(false); // Deselect other points
                                            }
                                        });

                                        // Toggle the selected state of the clicked point
                                        point.select(!point.selected, true);
                                        if (!point.originalColor) {
                                            point.originalColor = point.color || this.series.color; // Fallback to series color
                                            point.update({
                                                color: point.originalColor // Restore the original color
                                            }, true);
                                        }
                                        // Optionally, you can update the color dynamically
                                        if (point.selected) {
                                            point.update({
                                                color: '#324cdd' // Set the color for the selected region
                                            }, false); // `false` prevents redrawing the chart immediately
                                        } else {
                                            point.update({
                                                color: point.originalColor // Restore the original color
                                            }, false);
                                        }
                                        // Redraw the chart to apply changes
                                        this.series.chart.redraw();


                                       //////////////////
                                    }
                                }
                            }
                        }
                    },
                    tooltip: {
                        shared: true
                    },
                    //colors: colors,
                    series: [
                        //{
                        //    showInLegend: false,
                        //    borderColor: 'black',
                        //    borderWidth: 0.2,
                        //    name: 'India',
                        //    mapData: Highcharts.maps['custom/UPMap'],
                        //}
                        //,
                        {
                            showInLegend: false,
                            borderColor: '#162336',
                            //color: '#13e5138f',
                            borderWidth: 1,
                            mapData: Highcharts.maps['custom/UPMap'],
                            data: jsonObject,
                            name: 'UTTAR PRADESH',
                            joinBy: ['DistrictName', 'DistrictName'],
                            dataLabels: {
                                enabled: false,
                                color: '#000000',
                               // format: '{point.DistrictName}',
                                style: {
                                    fontSize: 9,
                                    fontWeight: 700
                                },
                            },
                            tooltip: {
                                pointFormat: '<b> {point.DistrictName} : {point.Total} / ( {point.Percentage} % ) </b>'
                            },
                            //
                            states: {
                                select: {
                                    color: '#ff0000', // Color when a region is selected
                                    borderColor: '#000000',
                                    borderWidth: 2
                                }
                            },
                            allowPointSelect: true // Allow regions to be selected
                            //
                        }
                    ]
                });
            }

        }

        function LoadGoogleMap(tblData, tblTHR) {
            var markers = tblData; // Assuming tblData is already in the correct format

            if (markers.length > 0 || tblTHR.length > 0) {
                $('#dvMap').show();
                $('#msg').html("");

                // Ensure the Google Maps API is loaded before proceeding
                if (typeof google === 'object' && typeof google.maps === 'object') {

                    var mapOptions = {
                        center: new google.maps.LatLng('27.5706','80.0982'),//markers[0].Latitude, markers[0].Longitude
                        zoom: 7,//8
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        minZoom: 5, // Minimum zoom level
                       // maxZoom: 15 // Maximum zoom level
                    };

                    var infoWindow = new google.maps.InfoWindow();
                    var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

                    //
                    $('#dvMap').append('<div class="leaflet-top leaflet-left"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a id="zoomIn" class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in" >+</a><a id="zoomOut" class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button" aria-label="Zoom out">−</a></div></div>');

                    // Custom Zoom In Button
                    document.getElementById('zoomIn').addEventListener('click', function () {
                        var currentZoom = map.getZoom();
                        map.setZoom(currentZoom + 1); // Increase zoom level by 1
                    });

                    // Custom Zoom Out Button
                    document.getElementById('zoomOut').addEventListener('click', function () {
                        var currentZoom = map.getZoom();
                        map.setZoom(currentZoom - 1); // Decrease zoom level by 1
                    });
                    var allMarkers = [];

                    // Custom icons for different types of markers
                    var icon1 = {
                        url: '', // URL to your custom icon
                        scaledSize: new google.maps.Size(30, 30), // Size of the icon
                        origin: new google.maps.Point(0, 0), // Origin point
                        anchor: new google.maps.Point(20, 40) // Anchor point
                    };

                    var icon2 = {
                        url: 'path/to/marker2.png', // URL to your custom icon
                        scaledSize: new google.maps.Size(30, 30), // Size of the icon
                        origin: new google.maps.Point(0, 0), // Origin point
                        anchor: new google.maps.Point(20, 40) // Anchor point
                    };
                    icon1.url = "/Content/dashboard/images/MarkerRedSingle.png";


                    for (var i = 0; i < markers.length; i++) {
                        var data = markers[i];
                        var myLatlng = new google.maps.LatLng(data.Latitude, data.Longitude);
                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            map: map,
                            //icon: icon1 // Use custom icon for this marker
                            icon: icon1, // Use the custom Material Icon
                            //label: {
                            //    text: '\ue1db', // Unicode for the "terrain" Material Icon
                            //    fontFamily: 'Material Icons', // Use the Material Icons font
                            //    fontSize: '24px', // Size of the icon
                            //    color: '#FFFFFF' // Color of the icon
                            //}

                        });

                        (function (marker, data) {
                           // if (i==0) {
                               // $(".Detail").show(); $(".divbfy").show(); $(".divthr").hide();
                               // $("#StateName").html(data.StateName);
                               // $("#DistrictName").html(data.DistrictName);
                               // $("#BlockName").html(data.BlockName);
                               // $("#GPName").html(data.GPName);
                               // $("#VO").html(data.VO);
                               // $("#TypeofEnterpriseBusinText").html(data.TypeofEnterpriseBusinText);
                               // $("#NameofEnterpriseOwner").html(data.NameofEnterpriseOwner);
                               // $("#NameofSHG").html(data.NameofSHG);
                               // $("#SpaceAvailableText").html(data.SpaceAvailableText);
                               // $("#SpaceAvailable_Area").html(data.SpaceAvailable_Area);
                               // $("#NameofEnterpriseOwner").html(data.NameofEnterpriseOwner);
                                 //if (data.EnterpriseImage)
                                   //  $("#EnterpriseImg").attr("src", '@CommonModel.GetBaseUrl()' + data.EnterpriseImage);
                           // }
                            google.maps.event.addListener(marker, "click", function (e) {
                                ClearDataShow();

                                infoWindow.setContent(`
                                                      <div style="position: relative; font-family: Arial, sans-serif; padding: 5px;">
                                                        <button onclick="this.parentElement.parentElement.parentElement.parentElement.parentElement.style.display='none'"
                                                                style="position: absolute; top: -6px; right: 0; background: none; border: none; font-size: 18px; cursor: pointer;">
                                                          &times;
                                                        </button>
                                                        <strong>Name:</strong> ${data.NameofEnterpriseOwner}<br>
                                                        <strong>District:</strong> ${data.DistrictName}<br>
                                                        <strong>Block:</strong> ${data.BlockName}
                                                      </div>
                                                    `);
                                infoWindow.open(map, marker);

                                // After the DOM is loaded inside the InfoWindow
                                google.maps.event.addListenerOnce(infoWindow, 'domready', () => {
                                    // Hide the default close button
                                    const defaultCloseBtn = document.querySelector('.gm-ui-hover-effect');
                                    if (defaultCloseBtn) {
                                        defaultCloseBtn.style.display = 'none';
                                    }

                                    // Add functionality to custom close button
                                    document.getElementById('customCloseBtn')?.addEventListener('click', () => {
                                        infoWindow.close();
                                    });
                                });

                                $(".Detail").show(); $(".divbfy").show(); $(".divthr").hide();
                                $("#StateName").html(data.StateName);
                                $("#DistrictName").html(data.DistrictName);
                                $("#BlockName").html(data.BlockName);
                                $("#GPName").html(data.GPName);
                                $("#VO").html(data.VO);
                                $("#TypeofEnterpriseBusinText").html(data.TypeofEnterpriseBusinText);
                                $("#NameofEnterpriseOwner").html(data.NameofEnterpriseOwner);
                                $("#NameofSHG").html(data.NameofSHG);
                                $("#SpaceAvailableText").html(data.SpaceAvailableText);
                                $("#SpaceAvailable_Area").html(data.SpaceAvailable_Area);
                                $("#NameofEnterpriseOwner").html(data.NameofEnterpriseOwner);
                                if (data.EnterpriseImage) {
                                    $("#EnterpriseImg").attr("src", '@CommonModel.GetBaseUrl()' + data.EnterpriseImage);
                                    $("#EnterpriseImg").css("height", "330px");
                                    $("#EnterpriseImg").css("display", "block");
                                }
                                else {
                                    $('#div-img').html("Image Not Available");
                                    //$("#EnterpriseImg").attr("src", '@CommonModel.GetBaseUrl()' + '/Content/dashboard/images/childImg.jpg');
                                    //$("#EnterpriseImg").css("height", "auto");
                                }
                                //$("#EnterprisesOnboarded").html(data.SolarizedYes);
                                $("#EnterprisesSolarized").html(data.SolarizedYes);
                                //$("#CapacityOfInstallation").html(data.SolarizedYes);
                            });
                        })(marker, data);
                        // Add marker to the array
                        allMarkers.push(marker);
                    }

                    // THR Markers with a different icon

                    for (var i = 0; i < tblTHR.length; i++) {
                        var data = tblTHR[i];
                        var myLatlng = new google.maps.LatLng(data.Latitude, data.Longitude);
                        if (data.SolarizedStatus==1)
                            icon2 = "/Content/dashboard/images/RoundedG.png";
                        else
                            icon2 = "/Content/dashboard/images/RoundedR.png";
                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            map: map,
                            icon: icon2 // Use a different custom icon for THR markers
                        });

                        (function (marker, data) {
                            google.maps.event.addListener(marker, "click", function (e) {
                                ClearDataShow();
                                infoWindow.setContent(`
                                                      <div style="position: relative; font-family: Arial, sans-serif; padding: 5px;">
                                                        <button onclick="this.parentElement.parentElement.parentElement.parentElement.parentElement.style.display='none'"
                                                                style="position: absolute; top: -6px; right: 0; background: none; border: none; font-size: 18px; cursor: pointer;">
                                                          &times;
                                                        </button>
                                                        <strong>Enterprise:</strong> ${data.THR_NutriEnterprise}<br>
                                                        <strong>District:</strong> ${data.DistrictName}<br>
                                                        <strong>Block:</strong> ${data.BlockName}<br>
                                                        <strong>Capacity:</strong> 75kW
                                                      </div>
                                                    `);
                                infoWindow.open(map, marker);
                                // After the DOM is loaded inside the InfoWindow
                                google.maps.event.addListenerOnce(infoWindow, 'domready', () => {
                                    // Hide the default close button
                                    const defaultCloseBtn = document.querySelector('.gm-ui-hover-effect');
                                    if (defaultCloseBtn) {
                                        defaultCloseBtn.style.display = 'none';
                                    }

                                    // Add functionality to custom close button
                                    document.getElementById('customCloseBtn')?.addEventListener('click', () => {
                                        infoWindow.close();
                                    });
                                });

                                $(".Detail").show(); $(".divbfy").hide(); $(".divthr").show();
                                $("#StateName").html(data.StateName);
                                $("#DistrictName").html(data.DistrictName);
                                $("#BlockName").html(data.BlockName);
                                $("#THR_NutriEnterprise").html(data.THR_NutriEnterprise);
                                $("#TypeofRoof").html(data.TypeofRoof);
                                $("#TRoofandshedareaavailable_sqfeet").html(data.TRoofandshedareaavailable_sqfeet);
                                $("#AreaAvailableSolarization_sqfeet").html(data.AreaAvailableSolarization_sqfeet);
                                $("#PersonName").html(data.PersonName);
                                if (data.MobileNo) {
                                    $("#PhoneNumber").html(data.MobileNo);
                                }
                                //$("#EnterprisesOnboarded").html(data.SolarizedYes);
                                $("#EnterprisesSolarized").html(data.SolarizedYes);
                                //$("#CapacityOfInstallation").html(data.SolarizedYes);
                                $("#CapacityOfInstallation").html(data.InstalledCapacity_kW);
                                if (data.EnterpriseImage) {
                                    $("#EnterpriseImg").attr("src", '@CommonModel.GetBaseUrl()' + data.EnterpriseImage);
                                    $("#EnterpriseImg").css("height", "330px");
                                    $("#EnterpriseImg").css("display", "block");
                                }
                                else {
                                    $('#div-img').html("Image Not Available");
                                    @*$("#EnterpriseImg").attr("src", '@CommonModel.GetBaseUrl()' + '/Content/dashboard/images/childImg.jpg');
                                    $("#EnterpriseImg").css("height", "auto");*@
                                }
                            });
                        })(marker, data);
                        // Add marker to the array
                        allMarkers.push(marker);
                    }
                    // Initialize MarkerClusterer
                    //if (typeof MarkerClusterer !== 'undefined') {
                    //    new MarkerClusterer(map, allMarkers, {
                    //        imagePath: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m", // Path to cluster icons
                    //        gridSize: 60, // Adjust grid size for clustering
                    //       // maxZoom: 15, // Maximum zoom level for clustering
                    //        minimumClusterSize: 0, // Minimum number of markers to form a cluster
                    //        //zoomOnClick: true // Zoom in when a cluster is clicked
                    //        styles: [
                    //            {
                    //                url: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m1.png",
                    //                height: 53,
                    //                width: 53,
                    //                textColor: "#ffffff",
                    //                textSize: 14
                    //            }
                    //        ]
                    //    });
                    //} else {
                    //    console.error("MarkerClusterer is not defined. Ensure the library is loaded.");
                    //}

                    map.data.loadGeoJson('/Scripts/JS/uttar_pradesh.json');
                    // Set style for features
                    map.data.setStyle({
                        strokeColor: '#FF0000', // Border color (red here)
                        strokeOpacity: 1.0,     // Border opacity
                        strokeWeight: 1,        // Border thickness
                        fillColor: '#00FF00',   // Fill color (optional)
                        fillOpacity: 0.5        // Fill opacity (optional)
                    });
                   // map.setCenter(['31.092574', '77.212083']);
                   // map.setZoom(8);

                } else {
                    ClearDataShow();
                    console.error("Google Maps API is not loaded.");
                    $('#msg').html("Google Maps failed to load.");
                    $('#dvMap').hide();
                }
            } else {
                $('#msg').html("Record Not Found");
                $('#dvMap').hide();
                ClearDataShow();
            }
        }

        //function LoadGoogleMap(tblData, tblTHR) {
        //    var markers = tblData; // Assuming tblData is already in the correct format

        //    if (markers.length > 0) {
        //        $('#dvMap').show();
        //        $('#msg').html("");

        //        // Ensure the Google Maps API is loaded before proceeding
        //        if (typeof google === 'object' && typeof google.maps === 'object') {
        //            var mapOptions = {
        //                center: new google.maps.LatLng(markers[0].Latitude, markers[0].Longitude),
        //                zoom: 8,
        //                mapTypeId: google.maps.MapTypeId.ROADMAP
        //            };

        //            var infoWindow = new google.maps.InfoWindow();
        //            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

        //            for (var i = 0; i < markers.length; i++) {
        //                var data = markers[i];
        //                var myLatlng = new google.maps.LatLng(data.Latitude, data.Longitude);
        //                var marker = new google.maps.Marker({
        //                    position: myLatlng,
        //                    map: map
        //                });

        //                (function (marker, data) {
        //                    google.maps.event.addListener(marker, "click", function (e) {
        //                        //infoWindow.setContent('District: ' + data.DistrictName + ' / Block: ' + data.BlockName + ' / GP: ' + data.GPName);
        //                        //infoWindow.open(map, marker);
        //                        ClearDataShow();
        //                        $(".Detail").show(); $(".divbfy").show(); $(".divthr").hide();
        //                        $("#StateName").html(data.StateName);
        //                        $("#DistrictName").html(data.DistrictName);
        //                        $("#BlockName").html(data.BlockName);
        //                        $("#GPName").html(data.GPName);
        //                        $("#VO").html(data.VO);
        //                        $("#TypeofEnterpriseBusinText").html(data.TypeofEnterpriseBusinText);
        //                        $("#NameofEnterpriseOwner").html(data.NameofEnterpriseOwner);
        //                        $("#NameofSHG").html(data.NameofSHG);
        //                        $("#SpaceAvailableText").html(data.SpaceAvailableText);
        //                        $("#SpaceAvailable_Area").html(data.SpaceAvailable_Area);
        //                        $("#NameofEnterpriseOwner").html(data.NameofEnterpriseOwner);
        //                    });
        //                })(marker, data);
        //            }
        //            //THR
        //            for (var i = 0; i < tblTHR.length; i++) {
        //                var data = tblTHR[i];
        //                var myLatlng = new google.maps.LatLng(data.Latitude, data.Longitude);
        //                var marker = new google.maps.Marker({
        //                    position: myLatlng,
        //                    map: map
        //                });

        //                (function (tblTHR, data) {
        //                    google.maps.event.addListener(tblTHR, "click", function (e) {
        //                        //infoWindow.setContent('District: ' + data.DistrictName + ' / Block: ' + data.BlockName + ' / GP: ' + data.GPName);
        //                        //infoWindow.open(map, marker);
        //                        ClearDataShow();
        //                        $(".Detail").show(); $(".divbfy").hide(); $(".divthr").show();
        //                        $("#StateName").html(data.StateName);
        //                        $("#DistrictName").html(data.DistrictName);
        //                        $("#BlockName").html(data.BlockName);
        //                        $("#THR_NutriEnterprise").html(data.THR_NutriEnterprise);
        //                        $("#TypeofRoof").html(data.TotalRoofShedArea);
        //                        $("#TRoofandshedareaavailable_sqfeet").html(data.TRoofandshedareaavailable_sqfeet);
        //                        $("#AreaAvailableSolarization_sqfeet").html(data.AreaAvailableSolarization_sqfeet);
        //                        $("#PersonName").html(data.PersonName);
        //                        $("#PhoneNumber").html(data.PhoneNumber);

        //                        $("#EnterprisesSolarized").html(data.EnterprisesSolarized);
        //                    });
        //                })(marker, data);
        //            }
        //        } else {
        //            ClearDataShow();
        //            console.error("Google Maps API is not loaded.");
        //            $('#msg').html("Google Maps failed to load.");
        //            $('#dvMap').hide();
        //        }
        //    } else {
        //        $('#msg').html("Record Not Found");
        //        $('#dvMap').hide();
        //        ClearDataShow();
        //    }
        //}

        function ClearDataShow() {
            $("#StateName").html("");
            $("#DistrictName").html("");
            $("#BlockName").html("");
            $("#GPName").html("");
            $("#VO").html("");
            $("#TypeofEnterpriseBusinText").html("");
            $("#NameofEnterpriseOwner").html("");
            $("#NameofSHG").html("");
            $("#SpaceAvailableText").html("");
            $("#SpaceAvailable_Area").html("");
            $("#NameofEnterpriseOwner").html("");

            $("#THR_NutriEnterprise").html("");
            $("#TypeofRoof").html("");
            $("#TRoofandshedareaavailable_sqfeet").html("");
            $("#AreaAvailableSolarization_sqfeet").html("");
            $("#PersonName").html("");
            $("#PhoneNumber").html("");
            $("#EnterprisesOnboarded").html("");
            $("#EnterprisesSolarized").html("");
            $("#CapacityOfInstallation").html("");
            $('#div-img').html("");
            $("#EnterpriseImg").css("display", "none");
        }
        //function LoadGoogleMap(tblData) {
        //    debugger;
        //    var markers = tblData;
        //    if (markers.length != 0) {
        //        $('#dvMap').show();
        //        $('#msg').html("");
        //        const url = "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + markers[0].Latitude + "," + markers[0].Longitude + "sensor=true&key=AIzaSyAw2rgDsJqTKA8ern_oI6heqv-xgSLuu1U";

        //        window.onload = function () {
        //            var mapOptions = {
        //                center: new google.maps.LatLng(markers[0].Latitude, markers[0].Longitude),
        //                zoom: 8,
        //                mapTypeId: google.maps.MapTypeId.ROADMAP
        //            };
        //            var infoWindow = new google.maps.InfoWindow();
        //            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
        //            for (i = 0; i < markers.length; i++) {
        //                var data = markers[i]
        //                var myLatlng = new google.maps.LatLng(data.Latitude, data.Longitude);
        //                var marker = new google.maps.Marker({
        //                    position: myLatlng,
        //                    map: map,
        //                    //title: 'District : ' +data.DistrictName +' / '+'Block : '+data.Project_Title +' / '+'Awc Code : '+data.awccode
        //                });
        //                (function (marker, data) {
        //                    google.maps.event.addListener(marker, "click", function (e) {
        //                        infoWindow.setContent(' District : ' + data.DistrictName + ' / ' + ' Block : ' + data.BlockName + ' / ' + ' GP :' + data.GPName);
        //                        infoWindow.open(map, marker);
        //                        $(".Detail").show();
        //                        $("#DistrictName").html(data.DistrictName);
        //                        $("#BlockName").html(data.BlockName);
        //                        $("#GPName").html(data.GPName);
        //                        //$("#awcname").html(data.awcname);
        //                        //$("#awcvillage").html(data.villages);
        //                        //$("#accuracy").html(data.Accuracy);
        //                    });
        //                })(marker, data);
        //            }
        //        }
        //    }
        //    else {
        //        $('#msg').html("Record Not Found");
        //        $('#dvMap').hide();
        //    }
        //}

    </script>
    <style>
        .myNav {
            width: 150px;
        }
    </style>
    <script>
        $("#dvMapToggle").click(function () {
            $("#myNav").toggleClass("myNav");
        });
        $("#closeNav").click(function () {
            $("#myNav").toggleClass("myNav");
        });

        $('#RDMore').click(function () {
            const moreContent = $('.readmore');
            const btn = this;
            if (btn.textContent == 'Read Less') {
                btn.textContent = 'Read More';
                $('.beneficiary-box-section ul').css('height', '228px');
                $('#dvMap').css('height', '420px');
                for (var i = 0; i < moreContent.length; i++) {
                    moreContent[i].style.display = 'none';
                }
            } else {
                btn.textContent = 'Read Less';
                $('.beneficiary-box-section ul').css('height', '520px');
                $('#dvMap').css('height', '698px');
                for (var i = 0; i < moreContent.length; i++) {
                    moreContent[i].style.display = 'block';
                }
            }
        });
    </script>
}
